<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.airport.ais.ibacquisition.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="订阅工作区"
            class="com.airport.ais.ibacquisition.perspective.MessagePerspective"
            id="MessagePerspective">
      </perspective>
   </extension>
    <extension
         point="org.eclipse.ui.views">
      <view
            class="com.airport.ais.plugin.ViewExtensionFactory"
            icon="icons/status.gif"
            id="statusView"
            name="状态视图">
      </view>
      <view
            class="com.airport.ais.plugin.ViewExtensionFactory"
            icon="icons/status.gif"
            id="messageDBView"
            name="信息数据视图">
      </view>
      <view
            class="com.airport.ais.plugin.ViewExtensionFactory"
            icon="icons/status.gif"
            id="messageInView"
            name="信息接收视图">
      </view>
      <view
            class="com.airport.ais.plugin.ViewExtensionFactory"
            icon="icons/status.gif"
            id="messageOutView"
            name="信息发送视图">
      </view>
      <view
            class="com.airport.ais.plugin.ViewExtensionFactory"
            icon="icons/status.gif"
            id="messageContentView"
            name="内容视图">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="IBAcquisition.application"
            name="IB解析接口">
        <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/app.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
 	     <property
               name="cssTheme"
               value="AisClassicTheme">
         </property>
       <property
             name="appName"
             value="IB解析接口">
       </property>
      </product>
   </extension>
  <extension
         point="org.eclipse.e4.ui.css.swt.theme">
         <theme
            basestylesheeturi="css/e4_classic_winxp.css"
            id="AisClassicTheme"
            label="AisClassicTheme">
      </theme>
   </extension>   
 <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="subscriptionActionSet"
            label="订阅窗口"
            visible="true">
         <menu
               id="subscriptionMenu"
               label="订阅">
            <separator
                  name="all.sp">
            </separator>
            <separator
                  name="sub.sp">
            </separator>
         </menu>
         <menu
               id="AFDSMenu"
               label="航班动态"
               icon="icons/Dyn.gif"
               path="subscriptionMenu/sub.sp">
         </menu>
         <menu
               id="RDDSMenu"
               label="资源分配"
			   icon="icons/rd.gif"               
               path="subscriptionMenu/sub.sp">
         </menu>
         <menu
               id="BDDSMenu"
               label="基础数据"     
               icon="icons/bd.gif"          
               path="subscriptionMenu/sub.sp">

         </menu>
         <menu
               id="SFDSMenu"
               label="季度航班"  
                 icon="icons/pln.gif"              
               path="subscriptionMenu/sub.sp">
         </menu>
         <action
               allowLabelUpdate="true"
               definitionId="SubscriptionAction"
               icon="icons/subscription.gif"
               id="SubscriptionAction"
               label="全部订阅"
               menubarPath="subscriptionMenu/"
               style="push"
               toolbarPath="subscriptionTB">
         </action>
         <action
               allowLabelUpdate="true"
               definitionId="cancelAllAction"
               icon="icons/pause.gif"
               id="cancelAllAction"
               label="全部取消"
               menubarPath="subscriptionMenu/"
               style="push"
               toolbarPath="subscriptionTB">
         </action>
         <action
               allowLabelUpdate="true"
               definitionId="StatusAction"
               icon="icons/status.gif"
               id="StatusAction"
               label="状态查询"
               menubarPath="subscriptionMenu/"
               style="push"
               toolbarPath="subscriptionTB">
         </action>
         <action
               allowLabelUpdate="true"
               definitionId="AFDS"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="AFDS订阅"
               menubarPath="subscriptionMenu/AFDSMenu/sp"
               style="push">
         </action>
         <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="AFDS"
               icon="icons/pause.gif"
               id="cancelSubscriptionAction"
               label="AFDS取消"
               menubarPath="subscriptionMenu/AFDSMenu/sp"
               style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS/AircraftTow"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="AircraftTow订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS/BaggageReclaimOperation"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="BaggageReclaimOperation订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS/CheckinOperation"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="CheckinOperation订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS/CheckinSlot"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="CheckinSlot订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="RDDS订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS/GateOperation"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="GateOperation订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS/StandPositionOperation"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="StandPositionOperation订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
	     <action
            allowLabelUpdate="true"
            class="com.airport.ais.plugin.ViewExtensionFactory"
            definitionId="RDDS/ResourceImpairment"
            icon="icons/subscription.gif"
            id="subscriptionRequestAction"
            label="ResourceImpairment订阅"
            menubarPath="subscriptionMenu/RDDSMenu/sp"
            style="push">
         </action>
         <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="RDDS"
               icon="icons/pause.gif"
               id="cancelSubscriptionAction"
               label="RDDS取消"
               menubarPath="subscriptionMenu/RDDSMenu/sp"
               style="push">
         </action>
         <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/AircraftRegistration"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="机号订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
 		 <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/AircraftSubtype"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="机型订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
         <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/Airline"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="航空公司订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/BaggageMakeupPosition"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="行李分拣转盘订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/BaggageReclaimCarousel"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="行李认领住转盘订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/BoardingBridge"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="登机桥订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/CheckinClass"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="值机等级订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/CheckinDesk"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="值机柜台订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/FlightClassification"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="航班分类订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/FlightNature"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="航班性质订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
        <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/FlightServiceType"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="航班服务性质订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
 		 <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/Location"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="机场订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
 		 <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="Runway"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="跑道订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
 		 <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/Gate"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="登机口订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
 	     <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS/Terminal"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="航站楼订阅"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>         
         <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="BDDS"
               icon="icons/pause.gif"
               id="cancelSubscriptionAction"
               label="BDDS取消"
               menubarPath="subscriptionMenu/BDDSMenu/sp"
               style="push">
         </action>
         
         <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="SFDS"
               icon="icons/subscription.gif"
               id="subscriptionRequestAction"
               label="SFDS订阅"
               menubarPath="subscriptionMenu/SFDSMenu/sp"
               style="push">
         </action>
         <action
               allowLabelUpdate="true"
               class="com.airport.ais.plugin.ViewExtensionFactory"
               definitionId="SFDS"
               icon="icons/pause.gif"
               id="cancelSubscriptionAction"
               label="SFDS取消"
               menubarPath="subscriptionMenu/SFDSMenu/sp"
               style="push">
         </action>
      </actionSet>
   </extension>      
</plugin>
